<% if @artist == nil %>
  <table class="artistTable">
    <tr class="artistTable__row">
      <th class="artistTable__header">Artist</th> 
    </tr>
    <% artistarray.each do |artist,album,genre| %>
    <tr class="artistTable__row">
    	<td id="artistButton" class="artistTable__data"><a class="artistTable__link" href= "?artist=<%= artist %>"><%= artist %></a></td>
    </tr>
     <% end %>
  </table>

  

<% else %>

<h1><%= @artist %></h1>

  <ul class="artistTab">
    <li><a href="#" class="artistTab__link" onclick="openAlbumTab(event, 'topAlbums')">Top Albums</a></li>
    <li><a href="#" class="artistTab__link" onclick="openTracksTab(event, 'topTracks')">Top Tracks</a></li>
    <li><a href="#" class="artistTab__link" onclick="openArtistTab(event, 'similarArtists')">Similar Artists</a></li>
  </ul>


    <div id= "similarArtists" class= "tabContent">
  
      <% 3.times do |x| %>

        <div class= "">
          <a href= "<%= @similarartisturls[x] %>"><%=   @similarartistnames[x] %></a>
          <img src= "<%= @similarartistimages[x] %>">
        </div>

      <% end %>

    </div>

  
    <div id= "topAlbums" class= "tabContent">
  
      <% 3.times do |x| %>

        <div class= "">
          <a href= "<%= @topalbumurls[x] %>"><%=   @topalbumnames[x] %></a>
          <img src= "<%= @topalbumimages[x] %>">
        </div>

      <% end %>

    </div>
  
    <div id= "topTracks" class= "tabContent">

      <% 3.times do |x| %>

       <div class= "">
         <a href= "<%= @toptrackurls[x] %>"><%=   @toptracknames[x] %></a>
         <img src= "<%= @toptrackimages[x] %>">
       </div>

      <% end %>
      
    </div>

<% end %>
